Code/.vs/
Code/Orc.Divido.ConsoleTest/bin/
Code/Orc.Divido.ConsoleTest/obj/
Code/Orc.Divido.Tests/bin/
Code/Orc.Divido.Tests/obj/
Code/Orc.DividoClient/bin/
Code/Orc.DividoClient/obj/
Code/packages/
Code/Orc.DividoClient/Orc.Divido.csproj.user
